:root {
  --text-disable: #ccc;
  --text-default-in-field: #999;
  --text-body-text: #666;
  --text-title-text: #333;
  --primary-color-black: #161D24;
  --secondary-color-3: #ECECEC;
  --background-white: #fff;
  --shop-color-bg: #f5f5f5;
  --shop-color-main: #7f2b25;
  --shop-color-text: #313131;
  --shop-color-title: #313131;
  --shop-color-hover: #132E1D;
  --shop-color-button: #098500;
  --shop-color-border: #d9d9d9;
  --home-category-bg-1: #faf1ff;
  --home-category-bg-2: #faf4eb;
  --home-category-bg-3: #f4e6e5;
  --home-category-bg-4: #e6f2f4;
  --home-category-bg-5: #fff6f6;
  --home-coupon-bg: #ffffff;
  --home-coupon-light: #ffffff;
  --home-coupon-border: #f8d0d3;
  --home-coupon-text: #333333;
  --home-collection1-bg: #7f2b25;
  --home-collection1-icon: #ffe501;
  --home-collection1-color-text: #ffffff;
  --home-categorize-bg: #dee4e9;
  --home-categorize-color: #333333;
  --home-collection2-bg: #adc4d2;
  --home-collection2-title: #ff0000;
  --home-collection3-bg: #e9dabe;
  --footer-bg-color-1: #2a2a2a;
  --footer-bg-color-2: #2a2a2a;
  --footer-bg-color-copyright: #222222;
  --footer-color-title: #ffffff;
  --footer-color-text: #aaaaaa;
  --footer-color-hover: #c73328;
}

body {
  font-family: "Mulish", sans-serif;
  background: #FFF;
}

/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
.uk-container {
  max-width: 1285px;
}
.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-7-xl {
    margin-left: -7px !important;
  }
  .uk-grid-7-xl > * {
    padding-left: 7px !important;
  }
  .uk-grid-7-xl > .uk-grid-margin {
    margin-top: 7px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-7-l {
    margin-left: -7px !important;
  }
  .uk-grid-7-l > * {
    padding-left: 7px !important;
  }
  .uk-grid-7-l > .uk-grid-margin {
    margin-top: 7px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-7-m {
    margin-left: -7px !important;
  }
  .uk-grid-7-m > * {
    padding-left: 7px !important;
  }
  .uk-grid-7-m > .uk-grid-margin {
    margin-top: 7px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-7-s {
    margin-left: -7px !important;
  }
  .uk-grid-7-s > * {
    padding-left: 7px !important;
  }
  .uk-grid-7-s > .uk-grid-margin {
    margin-top: 7px !important;
  }
}

.uk-grid-7 {
  margin-left: -7px;
}
.uk-grid-7 > * {
  padding-left: 7px;
}
.uk-grid-7 > .uk-grid-margin {
  margin-top: 7px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .mb-0-xl {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mb-0-l {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .mb-0-m {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 640px) {
  .mb-0-s {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@media (min-width: 1600px) {
  .mb-10-xl {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mb-10-l {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 960px) {
  .mb-10-m {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
  .mb-10-s {
    margin-bottom: 10px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .mb-20-xl {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mb-20-l {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 960px) {
  .mb-20-m {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 640px) {
  .mb-20-s {
    margin-bottom: 20px !important;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .mb-30-xl {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mb-30-l {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 960px) {
  .mb-30-m {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 640px) {
  .mb-30-s {
    margin-bottom: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .mb-40-xl {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mb-40-l {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 960px) {
  .mb-40-m {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 640px) {
  .mb-40-s {
    margin-bottom: 40px !important;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (min-width: 1600px) {
  .mb-50-xl {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mb-50-l {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 960px) {
  .mb-50-m {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 640px) {
  .mb-50-s {
    margin-bottom: 50px !important;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1600px) {
  .mt-0-xl {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mt-0-l {
    margin-top: 0px !important;
  }
}

@media (min-width: 960px) {
  .mt-0-m {
    margin-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .mt-0-s {
    margin-top: 0px !important;
  }
}

.mt-0 {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .mt-10-xl {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mt-10-l {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .mt-10-m {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .mt-10-s {
    margin-top: 10px !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .mt-20-xl {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mt-20-l {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .mt-20-m {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .mt-20-s {
    margin-top: 20px !important;
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .mt-30-xl {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mt-30-l {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .mt-30-m {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .mt-30-s {
    margin-top: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .mt-40-xl {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mt-40-l {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .mt-40-m {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .mt-40-s {
    margin-top: 40px !important;
  }
}

.mt-40 {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .mt-50-xl {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mt-50-l {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .mt-50-m {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .mt-50-s {
    margin-top: 50px !important;
  }
}

.mt-50 {
  margin-top: 50px;
}

.fz-14 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .fz-14 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-14 {
    font-size: 14px !important;
  }
}

.fz-15 {
  font-size: 15px !important;
}
@media screen and (min-width: 640px) {
  .fz-15 {
    font-size: calc(15px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-15 {
    font-size: 15px !important;
  }
}

.fz-16 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-16 {
    font-size: calc(16px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-16 {
    font-size: 16px !important;
  }
}

.fz-20 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-20 {
    font-size: calc(16px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-20 {
    font-size: 20px !important;
  }
}

.fz-30 {
  font-size: 21px !important;
}
@media screen and (min-width: 640px) {
  .fz-30 {
    font-size: calc(21px + 9 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-30 {
    font-size: 30px !important;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__20:nth-child(n+2) {
  margin-top: 20px;
}
.item__16:nth-child(n+2) {
  margin-top: 16px;
}
.item__15:nth-child(n+2) {
  margin-top: 15px;
}
.item__10:nth-child(n+2) {
  margin-top: 10px;
}
.item__8:nth-child(n+2) {
  margin-top: 8px;
}
.item__70-40:nth-child(n+2) {
  margin-top: 40px;
}
@media (min-width: 960px) {
  .item__70-40:nth-child(n+2) {
    margin-top: 70px;
  }
}
.item__30-15:nth-child(n+2) {
  margin-top: 15px;
}
@media (min-width: 960px) {
  .item__30-15:nth-child(n+2) {
    margin-top: 30px;
  }
}

.header:not(.uk-navbar-transparent) {
  background: #132E1D;
}
.header__navItem, .header .uk-navbar-nav > li > a, .header .uk-navbar-item {
  min-height: 91px;
}
.header .uk-navbar-nav > li > a {
  font-size: 15px;
  font-family: "EB Garamond", sans-serif;
  font-weight: 500;
  color: #fff;
}

.main {
  padding-bottom: 20px;
}
@media (min-width: 960px) {
  .main {
    padding-bottom: 40px;
  }
}
.main__title {
  font-weight: 800;
  font-size: calc(1.425rem + 2.1vw);
  color: var(--text-title-text, #333);
  font-family: "Mulish", sans-serif;
  margin: 0;
}
@media (min-width: 1200px) {
  .main__title {
    font-size: 3rem;
  }
}

.footer__address {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.125px;
  text-transform: uppercase;
  line-height: 1.3616666667;
}
.footer__address div {
  font-family: "EB Garamond", sans-serif;
  font-weight: 700;
  font-size: calc(1.28125rem + 0.375vw);
  color: #fff;
  line-height: 1.3052;
}
@media (min-width: 1200px) {
  .footer__address div {
    font-size: 1.5625rem;
  }
}
.footer__nav > li > a {
  letter-spacing: 0.09px;
  font-family: "Mulish", sans-serif;
  font-size: 1.125rem;
  padding: 2px 0;
}
.footer__top {
  background: #132E1D;
}
.footer__bottom {
  background: #000;
  letter-spacing: 0.065px;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-family: "Open Sans", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contact__boxForm .forms__card {
  box-shadow: none;
}
div:not(.contact__boxForm) > .forms__card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 10px 7px rgba(0, 0, 0, 0.14);
}
.forms__input {
  padding: 14px 10px 3px;
  min-height: 42px;
  border-color: #E2E2E2;
}
.forms__btn {
  border: none;
  line-height: 42px;
  background-color: var(--shop-color-hover) !important;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  letter-spacing: 0.56px;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.forms__btn:before {
  content: "";
  display: block;
  background-color: var(--shop-color-button);
  position: absolute;
  left: -2px;
  top: 0;
  right: -2px;
  bottom: 0;
  z-index: -1;
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.forms__btn:hover, .forms__btn:focus {
  border-color: var(--shop-color-hover);
}
.forms__btn:hover:before, .forms__btn:focus:before {
  transform-origin: right center;
  transform: scale(0, 1);
}
.forms__label {
  letter-spacing: 0.52px;
  text-transform: uppercase;
  font-size: 0.8125rem;
  color: #949494;
  position: absolute;
  left: 10px;
  top: 0;
  line-height: 42px;
  transform-origin: left top;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  pointer-events: none;
}
.forms__label sup {
  color: #FE4E4E;
}
.valid .forms__label, .forms__input:focus ~ .forms__label {
  transform: translateY(-5px) scale(0.8);
}
.forms__title {
  font-size: calc(1.5rem + 3vw);
  font-family: "EB Garamond", sans-serif;
  font-weight: 700;
  color: #333;
}
@media (min-width: 1200px) {
  .forms__title {
    font-size: 3.75rem;
  }
}
.forms__txt {
  letter-spacing: 0.6px;
  color: #8D8D8D;
  font-size: 0.9375rem;
  line-height: 1.7333333333;
}

@media (min-width: 960px) {
  .contact__bg {
    min-height: 550px;
  }
}
.contact__boxForm {
  margin-top: -120px;
}
@media (min-width: 960px) {
  .contact__boxForm {
    margin-top: -350px;
  }
}
.contact__txt1 {
  color: #232323;
  font-size: 1.125rem;
  letter-spacing: 0.9px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
@media (min-width: 960px) {
  .contact__txt1 {
    margin-bottom: 20px;
  }
}
.contact__txt2 {
  letter-spacing: 0.7px;
  color: #4D4F55;
  font-size: 1.125rem;
  font-weight: 700;
}

.tintuc1__cardForm {
  border-radius: 8px;
  background: #FBC231;
  text-align: center;
}
.tintuc1__cardForm__title {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 700;
  line-height: 1.34375;
  font-family: "Mulish", sans-serif;
}
@media (min-width: 1200px) {
  .tintuc1__cardForm__title {
    font-size: 2rem;
  }
}
.tintuc1__cardForm__desc {
  font-size: 16px;
  line-height: 1.5;
}
.tintuc1__cardForm__input {
  font-size: 14px;
  border-radius: 8px;
  background: var(--background-white, #FFF) !important;
  color: var(--text-default-in-field, #999) !important;
}
.tintuc1__cardForm__input::placeholder {
  color: currentColor !important;
}
.tintuc1__cardForm__btn {
  padding: 0 16px;
  border-radius: 8px;
  color: #FBC231 !important;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  text-transform: inherit;
}
.tintuc1__slideshow__img {
  background: var(--img), lightgray 50%/cover no-repeat, #E2E2E2;
}
.tintuc1__slideshow__overlay {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(32, 32, 32, 0.7) 80%);
}
.tintuc1__slideshow__title {
  font-size: calc(1.375rem + 1.5vw);
  line-height: 1.125;
  font-weight: 700;
  font-family: "EB Garamond", sans-serif;
}
@media (min-width: 1200px) {
  .tintuc1__slideshow__title {
    font-size: 2.5rem;
  }
}
.tintuc1__slideshow__desc {
  font-size: 1rem;
  line-height: 1.5;
}
.tintuc1__slideshow__linkMore a {
  color: #FBC231;
}
.tintuc1__slideshow__dotnav__dc, .tintuc1__slideshow__dotnav > *.uk-active > *, .tintuc1__slideshow__dotnav > * > *:hover {
  background-color: #098500 !important;
  border-color: #098500 !important;
}
.tintuc1__slideshow__dotnav > * > * {
  background-color: var(--text-disable, #CCC) !important;
  border-color: var(--text-disable, #CCC) !important;
}
@media (min-width: 960px) {
  .tintuc1__slideshow__dotnav > *.uk-active > * {
    width: 114px;
    border-radius: 8px;
  }
}
.tintuc1__navbar {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.tintuc1__navbar:not(.uk-navbar-transparent) {
  background: var(--secondary-color-3, #ECECEC);
}
@media (min-width: 960px) {
  .tintuc1__navbar__navItem, .tintuc1__navbar .uk-navbar-nav > li > a, .tintuc1__navbar .uk-navbar-item,
.tintuc1__navbar .uk-navbar-toggle {
    min-height: 85px;
  }
}
.tintuc1__navbar .uk-navbar-nav > li > a {
  color: var(--text-body-text, #666);
  font-family: "Mulish", sans-serif;
  text-transform: inherit;
  font-size: 1rem;
  position: relative;
}
.tintuc1__navbar .uk-navbar-nav > li > a:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  display: flex;
  border-radius: 50%;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.tintuc1__navbar .uk-navbar-nav > li > a:hover {
  color: #098500;
}
.tintuc1__navbar .uk-navbar-nav > li > a:hover:after {
  background: #098500;
}
.tintuc1__navbar .uk-navbar-nav > li.uk-active > a {
  color: #098500;
  font-weight: 500;
}
.tintuc1__navbar .uk-navbar-nav > li.uk-active > a:after {
  background: #098500;
}
.tintuc1__navbar .uk-search-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z' fill='%23098500'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}
.tintuc1__navbar .uk-search-icon svg {
  visibility: hidden;
}
.tintuc1__navbar .uk-search-input {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}
@media (min-width: 960px) {
  .tintuc1__navbar__search {
    width: 360px;
  }
}
.tintuc1__navbar__search .uk-search-input {
  min-height: 48px;
  border-radius: 8px;
  background: var(--background-white, #FFF) !important;
}
.tintuc1__sidebar__title {
  color: var(--primary-color-black, #161D24);
  font-weight: 700;
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .tintuc1__sidebar__title {
    font-size: 1.5rem;
  }
}
.tintuc1__sidebar__boximg {
  border-radius: 8px;
}
.tintuc1__sidebar__title1 {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: var(--text-title-text, #333);
  font-size: 15px;
}
.tintuc1__sidebar__title1 a {
  color: var(--text-title-text, #333);
  text-decoration: none;
}
.tintuc1__sidebar__title1 a:hover {
  color: #098500;
}
.tintuc1__sidebar__txt {
  color: var(--text-body-text, #666);
  font-size: 14px;
  line-height: 1.5;
}
.tintuc1__card__title {
  color: var(--text-title-text, #333);
  font-size: calc(1.275rem + 0.3vw);
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  line-height: 1.3333333333;
}
@media (min-width: 1200px) {
  .tintuc1__card__title {
    font-size: 1.5rem;
  }
}
.tintuc1__card__title a {
  color: var(--text-title-text, #333);
  text-decoration: none;
}
.tintuc1__card__desc {
  color: var(--text-body-text, #666);
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
}
.tintuc1__card__time {
  color: var(--text-body-text, #666);
  font-size: 14px;
  line-height: 1.5;
}
.tintuc1__card__link a {
  color: #098500;
  font-size: 16px;
}
.tintuc1__card__boximg1, .tintuc1__card__boximg2 {
  border-radius: 8px;
}
@media (min-width: 960px) {
  .tintuc1__card__boximg2 {
    max-height: 320px;
    min-height: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
