// Color
$primary-color: #132E1D;
$secondary-color: #666AEE;

// Fonts families
$font-primary: 'Mulish', sans-serif;
$font-Mulish: 'Mulish', sans-serif;
$font-secondary: 'EB Garamond', sans-serif;
$font-EBGaramond: 'EB Garamond', sans-serif;
$font-OpenSans: 'Open Sans', sans-serif;
$font-Lato: 'Lato', sans-serif;
$font-TitilliumWeb: 'Titillium Web', sans-serif;

// Font-size base
$base-font: 14px !default;
$base-design-font: 14px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 375px,
  s: 640px,
  m: 960px,
  l: 1200px,
  xl: 1600px
) !default;

:root {
  --text-disable: #ccc;
  --text-default-in-field: #999;
  --text-body-text: #666;
  --text-title-text: #333;
  --primary-color-black: #161D24;
  --secondary-color-3: #ECECEC;
  --background-white: #fff;
  --shop-color-bg: #f5f5f5;
  --shop-color-main: #7f2b25;
  --shop-color-text: #313131;
  --shop-color-title: #313131;
  --shop-color-hover: #132E1D;
  --shop-color-button: #098500;
  --shop-color-border: #d9d9d9;
  --home-category-bg-1: #faf1ff;
  --home-category-bg-2: #faf4eb;
  --home-category-bg-3: #f4e6e5;
  --home-category-bg-4: #e6f2f4;
  --home-category-bg-5: #fff6f6;
  --home-coupon-bg: #ffffff;
  --home-coupon-light: #ffffff;
  --home-coupon-border: #f8d0d3;
  --home-coupon-text: #333333;
  --home-collection1-bg: #7f2b25;
  --home-collection1-icon: #ffe501;
  --home-collection1-color-text: #ffffff;
  --home-categorize-bg: #dee4e9;
  --home-categorize-color: #333333;
  --home-collection2-bg: #adc4d2;
  --home-collection2-title: #ff0000;
  --home-collection3-bg: #e9dabe;
  --footer-bg-color-1: #2a2a2a;
  --footer-bg-color-2: #2a2a2a;
  --footer-bg-color-copyright: #222222;
  --footer-color-title: #ffffff;
  --footer-color-text: #aaaaaa;
  --footer-color-hover: #c73328;
}
